.career-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/우주.gif");
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  color: white;
  padding: auto;
}
.board-wrapper > .career-board {
  width: 40%;
  height: 100%;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
    6px 6px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.board-wrapper > .career-board > h1 {
  font-size: 2em;
  font-weight: 800;
}
.board-wrapper > .career-board > h2 {
  font-size: 1rem;
  font-weight: 600;
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
.board-wrapper > .License-board > h2 {
  font-size: 1rem;
  font-weight: 600;
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
.board-wrapper > .License-board > h1 {
  font-size: 2em;
  font-weight: 800;
}
.board-wrapper > .License-board {
  width: 40%;
  height: 100%;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
    6px 6px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.career-wrapper > .board-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 60%;
}
